
body,
html {
    background-color: blanchedalmond !important;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    line-height: 1.5em;
    font-size: 22px ;
    margin: 0 ;
    
}

h1
{
text-align: center;

}

#ig
{
    align-items: center;
}
        